<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header</title>
</head>
<body>
<header th:fragment="header">

    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-right">
                <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;"></form>
                <li><a href="/cadusuario"><i class="fa fa-user-o"></i>Cadastre-se</a></li>
                <li><a href="#" onclick="document.getElementById('logoutForm').submit(); return false;"><i class="fa fa-sign-out" aria-hidden="true"></i>Login-Logout</a></li>
            </ul>
        </div>
    </div>

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/" class="logo">
                            <img th:src="@{/FoodAPI.png}" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <select class="input-select">
                                <option value="0">Categorias</option>
                                <option value="1">Categoria 01</option>
                                <option value="1">Categoria 02</option>
                            </select>
                            <input class="input" placeholder="Search here">
                            <button class="search-btn">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>Favoritos</span>
                                <div class="qty">0</div>
                            </a>
                        </div>
                        <!-- /Wishlist -->
                        <div>
                            <a th:href="@{/verCarrinho}">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Seu Carrinho</span>
                                <div th:text="${qtd != null ? qtd : 0}" class="qty"></div>
                            </a>
                        </div>

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
</header>
<div th:insert="~{fragments/scripts::scripts}"></div>
</body>
</html>