<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>tabela</title>
</head>
<body>

<div th:fragment="listar">
    <div class="col-md-12">
        <div class="row">
            <div class="products-tabs">
                <!-- tab -->
                <div id="tab1" class="tab-pane active">
                    <div class="products-slick" data-nav="#slick-nav-1">
                        <!-- product -->
                        <div th:each="comida:${comidas}" class="product" th:if="${comida.isDeleted == null}">
                            <div class="product-img">
                                <img height="200px" th:src="@{'/images/'+${comida.imageUri}}">
                            </div>
                            <div  class="product-body">
                                <p th:text="${comida.categoria}" class="product-category"></p>
                                <h3 th:text="${comida.nome}" class="product-name"><a href="#"></a></h3>
                                <h4 th:text="${comida.preco}" class="product-price"></h4>
                            </div>
                            <div class="add-to-cart">
                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> <a th:href="@{'/adicionarCarrinho'+'/'+${comida.id}}">add to cart</a></button>
                            </div>
                        </div>
                    </div>
                    <div id="slick-nav-1" class="products-slick-nav"></div>
                </div>
                <!-- /tab -->
            </div>
        </div>
    </div> <br>
    <!-- Products tab & slick -->
</div>

<div th:fragment="admin">
    <div class="col-md-12">
        <div class="row">
            <div class="products-tabs">
                <!-- tab -->
                <div id="tab2" class="tab-pane active">
                    <div class="products-slick" data-nav="#slick-nav-1">
                        <!-- product -->
                        <div th:each="comida:${comidas}" class="product" th:if="${comida.isDeleted == null}">
                            <div class="product-img">
                                <img height="200px" th:src="@{'/images/'+${comida.imageUri}}">
                            </div>
                            <div class="product-body" >
                                <p th:text="${comida.categoria}" class="product-category"></p>
                                <h3 th:text="${comida.nome}" class="product-name"><a href="#"></a></h3>
                                <h4 th:text="${comida.preco}" class="product-price"></h4>
                            </div>
                            <div class="product-btns" style="margin-left: 550px" >
                                <button type="button" class="btn btn-danger" style="margin: 5px;border-radius: 50px" ><a th:href="@{'/editar/'+${comida.id}}">editar</a></button>
                                <button type="button" class="btn btn-danger" style="margin: 5px;border-radius: 50px" ><a th:href="@{'/deletar/'+${comida.id}}">deletar</a></button>
<!--                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp"><a th:href="@{'/editar/'+${comida.id}}">editar</a></span></button>-->
<!--                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp"><a th:href="@{'/deletar/'+${comida.id}}">deletar</a></span></button>-->
                            </div>
<!--                            <div class="add-to-cart">-->
<!--                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> <a th:href="@{'/adicionarCarrinho'+'/'+${comida.id}}">add to cart</a></button>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div id="slick-nav-2" class="products-slick-nav"></div>
                </div>
                <!-- /tab -->
            </div>
        </div>
    </div> <br>
    <!-- Products tab & slick -->
</div>

</body>
</html>