<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/css/slick-theme.css"/>
    <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<!--    <h1 th:text="${msg}"></h1>-->
    <div th:replace="~{/fragments/header::header}"></div>
    <nav th:fragment="nav" id="navigation">
        <div class="container">
            <div id="responsive-nav">
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a th:href="@{/admin}">Home</a></li>
                    <li><a th:href="@{/cadastroPage}">Novo Produto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <alert th:if="${msg}" th:text="${msg}" id="alerta" style="display: block; background: #ffdddd; padding: 10px; margin: 10px 0; border: 1px solid #f5c6cb; border-radius: 4px;"></alert>
    <alert th:if="${errors}" th:text="${errors}" id="alerta" style="display: block; background: #ffdddd; padding: 10px; margin: 10px 0; border: 1px solid #f5c6cb; border-radius: 4px;"></alert>
<!--    <alert th:text="${errors}"></alert>-->
<!--    <alert style="align-items: center" th:text="${msg}" ></alert>-->

    <div th:insert="~{fragments/table-admin::admin}"></div>
    <div th:replace="~{/fragments/footer::footer}"></div>
<div th:insert="~{fragments/scripts::scripts}"></div>
    <script>
        window.onload = function() {
            var alerta = document.getElementById("alerta");
            if (alerta) {
                setTimeout(function() {
                    alerta.style.transition = "opacity 0.5s ease";
                    alerta.style.opacity = 0;
                    setTimeout(function() {
                        alerta.style.display = "none";
                    }, 500);
                    window.location.href="/";
                }, 3000); // tempo para começar a sumir (3 segundos)
            }

        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>