<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CadastroUser</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/css/slick-theme.css"/>
    <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div  th:insert="~{fragments/header::header}"></div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Cadastre-se</h3>
                    </div>
                </div>
            </div>

            <div class="newsletter">
                <form th:object="${usuario}" th:action="@{/salvarUsuario}" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}" />
                    <input class="input" type="text" placeholder="Nome" id="username" name="username">
                    <button class="newsletter-btn" disabled><i class="fa fa-user" aria-hidden="true"></i></button>

                    <input class="input" type="password" placeholder="Senha" id="password" name="password">
                    <button class="newsletter-btn" disabled><i class="fa fa-lock" aria-hidden="true"></i></button><br>

                    <label for="admin" style="font-size: 16px;margin-bottom: 20px">Admin</label>
                    <input type="checkbox" id="admin" th:field="*{isAdmin}" value="true"/> <br />
                    <button type="submit" class="btn-submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
    <div  th:insert="~{fragments/footer::footer}"></div>
    <div th:insert="~{fragments/scripts::scripts}"></div>
</body>
</html>