<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/css/slick-theme.css"/>
    <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div  th:insert="~{fragments/header::header}"></div>
    <nav th:fragment="nav" id="navigation">
        <div class="container">
            <div id="responsive-nav">
                <ul class="main-nav nav navbar-nav">
                    <li ><a th:href="@{/redirect}">Home</a></li>
                    <li class="active"><a th:href="@{/cadastroPage}">Novo Produto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Cadastrar Produto</h3>
                    </div>
                </div>
            </div>

            <div class="newsletter">
                <form th:object="${comidas}" method="post" th:action="@{/salvar}" enctype="multipart/form-data">
                    <div style="width: 200px;" class="input-group mb-3">
                        <input type="hidden" class="form-control" placeholder="id" aria-label="id" aria-describedby="basic-addon1">
                    </div>

                    <input  th:field="*{nome}" class="input" type="text" placeholder="Nome">
                    <button class="newsletter-btn" disabled><i class="fa fa-tag" aria-hidden="true"></i></button>

                    <input th:field="*{preco}" class="input" type="text" placeholder="Preço">
                    <button class="newsletter-btn" disabled><i class="fa fa-usd" aria-hidden="true"></i></button>

                    <input th:field="*{descricao}" class="input" type="text" placeholder="Descrição">
                    <button class="newsletter-btn" disabled><i class="fa fa-align-left" aria-hidden="true"></i></button>

                    <input th:field="*{categoria}" class="input" type="text" placeholder="Categoria">
                    <button class="newsletter-btn" disabled><i class="fa fa-list" aria-hidden="true"></i></button>
                    <div class="custom-input">
                        <label for="file-input" >Selecionar Imagem <i class="fa fa-upload" aria-hidden="true"></i> </label>
                        <input  id="file-input" type="file" name="file" style="display: none">
                    </div> <br>

                    <button type="submit" class="btn-submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>

    <div th:insert="~{fragments/footer::footer}" ></div>
    <div th:insert="~{fragments/scripts::scripts}"></div>
</body>
</html>