<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carrinho</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/css/slick-theme.css"/>
    <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div th:insert="~{fragments/header::header}"></div>
<nav id="navigation">
    <div class="container">
        <div id="responsive-nav">
            <ul class="main-nav nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Order Details -->
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Your Order</h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>PRODUCT</strong></div>
                        <div><strong>TOTAL</strong></div>
                    </div>
                    <div th:each="comida:${comidas}" class="order-products">
                        <div class="order-col">
                            <div th:text="${comida.nome}"></div>
                            <div th:text="${comida.preco}"></div>
                        </div>
                    </div>
                    <div class="order-col">
                        <div ><strong>TOTAL</strong></div>
                        <div th:text="${total}"><strong class="order-total"></strong></div>
                    </div>
                </div>
<!--                <div class="payment-method">-->
<!--                    <div class="input-radio">-->
<!--                        <input type="radio" name="payment" id="payment-1">-->
<!--                        <label for="payment-1">-->
<!--                            <span></span>-->
<!--                            Direct Bank Transfer-->
<!--                        </label>-->
<!--                        <div class="caption">-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="input-radio">-->
<!--                        <input type="radio" name="payment" id="payment-2">-->
<!--                        <label for="payment-2">-->
<!--                            <span></span>-->
<!--                            Cheque Payment-->
<!--                        </label>-->
<!--                        <div class="caption">-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="input-radio">-->
<!--                        <input type="radio" name="payment" id="payment-3">-->
<!--                        <label for="payment-3">-->
<!--                            <span></span>-->
<!--                            Paypal System-->
<!--                        </label>-->
<!--                        <div class="caption">-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="input-checkbox">-->
<!--                    <input type="checkbox" id="terms">-->
<!--                    <label for="terms">-->
<!--                        <span></span>-->
<!--                        I've read and accept the <a href="#">terms & conditions</a>-->
<!--                    </label>-->
<!--                </div>-->
                <a href="/finalizarCompra" class="primary-btn order-submit">Finalizar compra</a>
            </div>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<!--&lt;!&ndash; SECTION &ndash;&gt;-->
<!--<div class="section">-->
<!--    &lt;!&ndash; container &ndash;&gt;-->
<!--    <div class="container">-->
<!--        &lt;!&ndash; row &ndash;&gt;-->
<!--        <div class="row">-->

<!--            <div class="col-md-7">-->
<!--                &lt;!&ndash; Billing Details &ndash;&gt;-->
<!--                <div class="billing-details">-->
<!--                    <div class="section-title">-->
<!--                        <h3 class="title">Billing address</h3>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input class="input" type="text" name="first-name" placeholder="First Name">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input class="input" type="text" name="last-name" placeholder="Last Name">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input class="input" type="email" name="email" placeholder="Email">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input class="input" type="text" name="address" placeholder="Address">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input class="input" type="text" name="city" placeholder="City">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input class="input" type="text" name="country" placeholder="Country">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input class="input" type="text" name="zip-code" placeholder="ZIP Code">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input class="input" type="tel" name="tel" placeholder="Telephone">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <div class="input-checkbox">-->
<!--                            <input type="checkbox" id="create-account">-->
<!--                            <label for="create-account">-->
<!--                                <span></span>-->
<!--                                Create Account?-->
<!--                            </label>-->
<!--                            <div class="caption">-->
<!--                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>-->
<!--                                <input class="input" type="password" name="password" placeholder="Enter Your Password">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; /Billing Details &ndash;&gt;-->

<!--                &lt;!&ndash; Order notes &ndash;&gt;-->
<!--                <div class="order-notes">-->
<!--                    <textarea class="input" placeholder="Order Notes"></textarea>-->
<!--                </div>-->
<!--                &lt;!&ndash; /Order notes &ndash;&gt;-->
<!--            </div>-->

<!--            &lt;!&ndash; Order Details &ndash;&gt;-->
<!--            <div  class="col-md-5 order-details">-->
<!--                <div class="section-title text-center">-->
<!--                    <h3 class="title">Your Order</h3>-->
<!--                </div>-->
<!--                <div class="order-summary">-->
<!--                    <div class="order-col">-->
<!--                        <div><strong>PRODUCT</strong></div>-->
<!--                        <div><strong>TOTAL</strong></div>-->
<!--                    </div>-->
<!--                    <div th:each="comida:${comidas}" class="order-products">-->
<!--                        <div class="order-col">-->
<!--                            <div th:text="${comida.nome}"></div>-->
<!--                            <div th:text="${comida.preco}"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="order-col">-->
<!--                        <div ><strong>TOTAL</strong></div>-->
<!--                        <div th:text="${total}"><strong class="order-total"></strong></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="payment-method">-->
<!--                    <div class="input-radio">-->
<!--                        <input type="radio" name="payment" id="payment-1">-->
<!--                        <label for="payment-1">-->
<!--                            <span></span>-->
<!--                            Direct Bank Transfer-->
<!--                        </label>-->
<!--                        <div class="caption">-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="input-radio">-->
<!--                        <input type="radio" name="payment" id="payment-2">-->
<!--                        <label for="payment-2">-->
<!--                            <span></span>-->
<!--                            Cheque Payment-->
<!--                        </label>-->
<!--                        <div class="caption">-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="input-radio">-->
<!--                        <input type="radio" name="payment" id="payment-3">-->
<!--                        <label for="payment-3">-->
<!--                            <span></span>-->
<!--                            Paypal System-->
<!--                        </label>-->
<!--                        <div class="caption">-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="input-checkbox">-->
<!--                    <input type="checkbox" id="terms">-->
<!--                    <label for="terms">-->
<!--                        <span></span>-->
<!--                        I've read and accept the <a href="#">terms & conditions</a>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <a href="/finalizarCompra" class="primary-btn order-submit">Place order</a>-->
<!--            </div>-->
<!--            &lt;!&ndash; /Order Details &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /row &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; /container &ndash;&gt;-->
<!--</div>-->
<div th:insert="~{fragments/footer::footer}"></div>
<div th:insert="~{fragments/scripts::scripts}"></div>

</body>
</html>